<h1>Current matchday: {{matchday}}/38</h1>

{{#each matches}}
<a class="match-block" href="/match/{{id}}">

    <div class="teams">
        <div class="team 
            {{#with awayTeam.winner}}
            lost
            {{/with}}">
            <span>
                <img src="{{homeTeam.svg}}" alt="logo {{homeTeam.shortName}}">
                {{homeTeam.shortName}}
            </span>

            <span>{{score.homeTeam}}</span>
        </div>

        <div class="team 
            {{#with homeTeam.winner}}
            lost
            {{/with}}">
            <span>
                <img src="{{awayTeam.svg}}" alt="logo {{awayTeam.shortName}}">
                {{awayTeam.shortName}}
            </span>

            <span>{{score.awayTeam}}</span>
        </div>

    </div>
    
    <div class="meta">
        <div class="status">
            {{status}}
        </div>
        <div class="date">
            {{date}}
        </div>
    </div>

</a>
{{/each}}