<h1>Current matchday: {{matchday}}/38</h1>

{{#each matches}}
<a class="match-block" href="/match/{{id}}">

    <div class="teams">
        <div class="team 
            {{#with awayTeam.winner}}
            lost
            {{/with}}">
            <span>
                <img src="/img/{{homeTeam.shortName}}.svg" />
                {{homeTeam.shortName}}
            </span>
        </div>

        <div class="team 
            {{#with homeTeam.winner}}
            lost
            {{/with}}">
            <span>
                <img src="/img/{{awayTeam.shortName}}.svg" />
                {{awayTeam.shortName}}
            </span>
        </div>
    </div>

</a>
{{/each}}