<div class="details">
    <div class="top">
        <div class="wrapper">
            <span class="status">{{status}}</span>
            <span class="date">{{date}}, {{time}}</span>
        </div>
    </div>
    <div class="teams">
        <div class="team">
            <img src="/img/{{homeTeam.shortName}}.svg" alt="Badge of {{homeTeam.shortName}}">
            <h3>{{homeTeam.shortName}}</h3>
        </div>
        <div class="score">
            -
        </div>
        <div class="team">
            <img src="/img/{{awayTeam.shortName}}.svg" alt="Badge of {{awayTeam.shortName}}">
            <h3>{{awayTeam.shortName}}</h3>
        </div>
    </div>
    <div class="venue"></div>
</div>