<%- include ('./partials/head.ejs') %>
<%- include ('./partials/header.ejs') %>

<main>
    <h1>Matches</h1>

    <!-- Show all matches for this matchweek. -->
    <% matches.forEach(match => { %>
        <a class="match-block" href="match/<%= match.id %>">
            <div class="teams">

                <div class="team <% if (match.score.winner === 'AWAY_TEAM') { %> lost <% } %>">
                    <span>
                        <img src="./img/<%= match.homeTeam.shortName %>.svg"/>
                        <%= match.homeTeam.shortName %>
                    </span>
                    <% if (match.status !== 'SCHEDULED' || match.status !== 'POSTPONED') { %>
                    <span><%= match.score.fullTime.homeTeam %></span>
                    <% } %>
                </div>

                <div class="team <% if (match.score.winner === 'HOME_TEAM') { %> lost <% } %>">
                    <span>
                        <img src="./img/<%= match.awayTeam.shortName %>.svg"/>
                        <%=match.awayTeam.shortName%>
                    </span>
                    <% if (match.status !== 'SCHEDULED' || match.status !== 'POSTPONED') { %>
                    <span><%= match.score.fullTime.awayTeam %></span>
                    <% } %>
                </div>

            </div>

            <div class="meta">

                <div class="status">
                    <% if (match.status === 'FINISHED') { %>
                        FT
                    <% } else if (match.status === 'SCHEDULED') { %>
                        <%= match.dateOfPlaying.time %>
                    <% } %>
                </div>

                <div class="date">
                    <%= `${match.dateOfPlaying.day}` %>
                </div>

            </div>
        </a>
    <% }) %>

</main>

<%- include ('./partials/footer.ejs') %>